body {
    background-color: rgb(232, 232, 232);
}


#card {
    width: 47%;
    margin: 7% auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    background-color: white;
}

.grid-item-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 2rem 3rem;
}

.grid-item-1 h2 {
    color: rgb(58, 138, 115);
}

.grid-item-1 h3 {
    margin: 5px;
    color: rgb(140, 215, 27);
}

.grid-item-1 p {
    margin: 5px;
}

.grid-item-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(58, 138, 115);
    padding: 0.5rem 3rem;
    color: white;
    position: relative;
}

#cost {
    display: flex;
    align-items: center;
}

#price {
    padding: 0;
    margin: 0;
    font-size: xx-large;
}

#desc {
    padding: 0 10px;
    margin: 0;
    color: rgba(255, 255, 255, 0.524);
}

#content {
    margin: 10px 0;
    font-size: 1rem;
}

.grid-item-2 button {
    display: block;
    justify-content: center;
    margin: 1rem auto;
    height: 20%;
    width: 100%;
    background-color: rgb(155, 225, 51);
    border: 0;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    font-size: small;
    padding: 2%;
}

.grid-item-3 {
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0.5rem 3rem;
    background-color: rgb(41, 163, 128);
}

.grid-item-3 h3 {
    margin-bottom: 5px;
}

.grid-item-3 ul {
    list-style: none;
    padding: 5px 0;
    font-size: small;
    color: rgba(255, 255, 255, 0.524);
}

.grid-item-2,
.grid-item-3 {
    padding-bottom: 20px;
}